{% load static %}
<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      a{
        text-decoration: none;
      }
</style>
<div class="container">
    <img src="{% static 'core/images/DAA.jpg' %}" alt="CA" width="100%" height="500px" style="-webkit-filter: blur(5px); ">
    <h1 class="centered" style="text-shadow: 0 0 500px white; font-weight: bold; font-family: Georgia;">Department of Information Technology</h1>
</div>
<div class="container text-white mt-3">
    <p style="background-color: #1a47a1"><em>Hello, I am Deep Kumar Goenka from the Department of Information Technology and in this website you will get all the Codes which are in the syllabus of Design and Analysis of Algorithms Laboratory. These codes are done in Online GDB Compiler.</em></p>
</div>
<div class="text-center">
    <h6><img src="{% static 'core/images/warning.gif' %}" alt="Warning" width="4%">  These codes may not run in Online Compiler but it works well in Dev C++.</h6>
</div>
<div class="container text-black mt-4 border border-info" style="margin-bottom: 70px; background-color: #a8edbb;">
    <h2 style="font-family: Garamond; padding-top: 30px; padding-bottom: 30px; text-decoration-line: underline; text-decoration-style: wavy;">DAA CODES</h2>
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 1</u></h3>
      <h5>Binary Search: <a href="https://onlinegdb.com/LC-ydLFw2M" target="_blank">https://onlinegdb.com/LC-ydLFw2M</a></h5>
      <h5>Merge Sort: <a href="https://onlinegdb.com/WSdZG3Mrt" target="_blank">https://onlinegdb.com/WSdZG3Mrt</a> </h5>
      <h5>Quick Sort: <a href="https://onlinegdb.com/Qi_ed4nVS" target="_blank">https://onlinegdb.com/Qi_ed4nVS</a></h5>
      <h5>Maximum and Minimum element: <a href="https://onlinegdb.com/YOlGQQmMh" target="_blank">https://onlinegdb.com/YOlGQQmMh</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 2</u></h3>
      <h5>Heap Sort: <a href="https://onlinegdb.com/aeBn-n0AQ" target="_blank">https://onlinegdb.com/aeBn-n0AQ</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 3</u></h3>
      <h5>Fractional Knapsack Problem: <a href="https://onlinegdb.com/Rnu22sb-t" target="_blank">https://onlinegdb.com/Rnu22sb-t</a></h5>
      <h5>Job Sequencing with deadlines: <a href="https://onlinegdb.com/f1Me-VvE5" target="_blank">https://onlinegdb.com/f1Me-VvE5</a></h5>
      <h5>Activity Selection Problem: <a href="https://onlinegdb.com/BUOw8c66y" target="_blank">https://onlinegdb.com/BUOw8c66y</a></h5>
      <h5>Prim's Algorithm: <a href="https://onlinegdb.com/EBD6WvZOs" target="_blank">https://onlinegdb.com/EBD6WvZOs</a></h5>
      <h5>Dijkstra's Algorithm: <a href="https://onlinegdb.com/Px3q_JP14" target="_blank">https://onlinegdb.com/Px3q_JP14</a></h5>
      <h5>Kruskal's Algorithm: <a href="https://onlinegdb.com/JRaRVNmqb" target="_blank">https://onlinegdb.com/JRaRVNmqb</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 4</u></h3>
      <h5>Bellman Ford Algorithm: <a href="https://onlinegdb.com/fWjmHrl-g" target="_blank">https://onlinegdb.com/fWjmHrl-g</a></h5>
      <h5>Floyd-Warshall Algorithm: <a href="https://onlinegdb.com/fkUADWxA2" target="_blank">https://onlinegdb.com/fkUADWxA2</a></h5>
      <h5>Matrix Chain Multiplication: <a href="https://onlinegdb.com/_ubgIJGtG" target="_blank">https://onlinegdb.com/_ubgIJGtG</a></h5>
    </div>

    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 5</u></h3>
      <h5>8 Queen Problem: <a href="https://onlinegdb.com/47zs1fZh9" target="_blank">https://onlinegdb.com/47zs1fZh9</a></h5>
      <h5>Graph Coloring Problem: <a href="https://onlinegdb.com/kRYV5CZS7h" target="_blank">https://onlinegdb.com/kRYV5CZS7h</a></h5>
      <h5>Hamiltonian Cycle Problem: <a href="https://onlinegdb.com/xiTZQPaZc" target="_blank">https://onlinegdb.com/xiTZQPaZc</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 6</u></h3>
      <h5>Breadth First Search (BFS): <a href="https://onlinegdb.com/C8IKNAwb6" target="_blank">https://onlinegdb.com/C8IKNAwb6</a></h5>
      <h5>Depth First Search (DFS): <a href="https://onlinegdb.com/6kDJ_IMqC" target="_blank">https://onlinegdb.com/6kDJ_IMqC</a></h5>
    </div>
    
    <hr class="border-success">
    <div style="text-align: left; font-family: Verdana;">
      <h3 class="text-danger font-weight-bold"><u>Assignment: 7</u></h3>
      <h5>15 Puzzle Problem: <a href="https://onlinegdb.com/dfIN9derM4" target="_blank">https://onlinegdb.com/dfIN9derM4</a></h5>
    </div>
</div>