{% load static %}
<div class="border-right border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/DAA logo.jpg' %}" alt="CA" class="img-fluid mt-5 border border-warning" width="150px" height="150px">
    </div>
    <h3 class="text-center mt-5" style="font-family: Georgia; font-weight: bold;">Design and Analysis of Algorithms</h3>
    <hr class="border-success">

    <nav class="nav flex-column text-center">
        <a href="{% url 'home' %}" style="text-decoration: none; font-size: 20px;">Home</a>
    </nav>

    <div class="container text-center mb-3" style="padding-top: 40px">
        <!-- Github -->
        <a href="https://github.com/deepgoenka" target="_blank" style="text-decoration: none; color: #171515;">
            <i class="fa-brands fa-github-square mx-3" style="font-size: 2.5em;"></i>
        </a>
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/deep-kumar-goenka-441912216/" target="_blank" style="text-decoration: none; color: #0072b1;">
            <i class="fa-brands fa-linkedin-in mx-3" style="font-size: 2.5em;"></i>
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/invites/contact/?i=br3tfi19t2qc&utm_content=m8neqvu" target="_blank" style="text-decoration: none; color: #8a3ab9;">
            <i class="fa-brands fa-instagram mx-3" style="font-size: 2.5em;"></i>
        </a>
    </div>
</div>